skopiuj od bootstrapa od początku


<!--<nav class="nav_bar" id="navbar">
    <ul class="nav_list" id="menu">
        <li class="nav_item"><a href="/" class="nav_link">Strona główna</a></li>
        <li class="nav_item"><a href="/" class="nav_link">placeholder</a></li>
        <li class="nav_item"><a href="/" class="nav_link">placeholder</a></li>
        <li class="nav_item"><a href="/" class="nav_link">placeholder</a></li>
        <li class="nav_item"><a href="/about" class="nav_link">O nas</a></li>
        <li class="nav_item"><a href="/contact" class="nav_link">Kontakt</a></li>
    </ul>
</nav>-->