<!-- strona główna, abonament, promocje, jak kupować, regulamin, o nas, kontakt-->
<nav class="nav_bar_pc" id="navbar">
    <ul class="nav_list" id="menu">
        <li class="nav_item"><a href="/" class="nav_link">Strona główna</a></li>
        <li class="nav_item"><a href="/" class="nav_link">Abonament</a></li>
        <li class="nav_item"><a href="/" class="nav_link">Promocje</a></li>
        <li class="nav_item"><a href="/" class="nav_link">Jak kupować?</a></li>
        <li class="nav_item"><a href="/" class="nav_link">Regulamin</a></li>
        <li class="nav_item"><a href="/about" class="nav_link about">O nas</a></li>
        <li class="nav_item"><a href="/contact" class="nav_link contact">Kontakt</a></li>
    </ul>
</nav>
<nav class="nav_bar_mobile" id="navbar">
    <ul class="nav_list" id="menu">
        <li class="nav_item"><a href="/" class="nav_link">Strona główna</a></li>
        <li class="nav_item"><a href="/" class="nav_link">Abonament</a></li>
        <li class="nav_item"><a href="/" class="nav_link">Promocje</a></li>
        <li class="nav_item"><a href="/" class="nav_link">Jak kupować?</a></li>
        <li class="nav_item"><a href="/" class="nav_link">Regulamin</a></li>
        <li class="nav_item"><a href="/about" class="nav_link about">O nas</a></li>
        <li class="nav_item"><a href="/contact" class="nav_link contact">Kontakt</a></li>
    </ul>
</nav>