<%- include('./includes/header.ejs')%>
    <title><%= pageTitle%></title>
</head>
<body>
    <%- include('./includes/navigation.ejs')%>
    <h1>O nas</h1>
    
    <%- include('./includes/footer.ejs') %>
    <script>
        var navbar = document.getElementById("navbar");
        var menu = document.getElementById("menu");

        window.onscroll = function(){
            if(window.pageYOffset >= menu.offsetTop){
                navbar.classList.add("sticky");
            }
            else{
                navbar.classList.remove("sticky");
            }
        }
    </script>