<%- include('./includes/header.ejs')%>
    <title><%= pageTitle%></title>
</head>
<body>
    <%- include('./includes/site-top.ejs')%>
    <h1>Kontakt</h1>
    
    <%- include('./includes/footer.ejs') %>