<%- include('./includes/header.ejs')%>
    <title>
        <%= pageTitle%>
    </title>
    </head>

    <body>
        <%- include('./includes/site-top.ejs')%>
            <main class="main_content">
                <h1>Strona główna</h1>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam sagittis justo felis, ac imperdiet
                metus ullamcorper ac. Curabitur at malesuada dui. Nullam ut nisi eget purus mollis posuere at vel dui.
                Maecenas pretium scelerisque posuere. Donec eu luctus felis. Nullam at elit quis dolor vestibulum
                mattis. Praesent et augue id sem eleifend venenatis. In nibh arcu, tristique ut egestas a, congue a
                libero. Pellentesque viverra ullamcorper lacus, ac fringilla leo laoreet in. Nullam consectetur
                vestibulum augue, ut semper neque eleifend sed. Nullam imperdiet orci leo, id lobortis nulla
                sollicitudin in. Aenean vel nisi nec justo egestas efficitur commodo in ex.

                Nunc ut rutrum orci. Fusce ex ipsum, consectetur in porttitor vitae, elementum ut diam. Mauris in luctus
                eros. Lorem ipsum dolor sit amet, consectetur adipiscing elit. In posuere, mi sed lacinia ullamcorper,
                odio neque accumsan diam, quis malesuada dolor odio et nisl. Aliquam lobortis elit sit amet lectus
                accumsan, dignissim fermentum est dignissim. In hac habitasse platea dictumst. Curabitur placerat, urna
                vel dictum accumsan, eros velit euismod arcu, in suscipit augue massa vitae arcu. Mauris odio eros,
                sodales vel sollicitudin et, placerat vitae nulla. Donec imperdiet velit eget libero tincidunt lacinia.
                Vestibulum ut arcu dolor.

                Curabitur eleifend nisl eget porta dapibus. Curabitur ornare accumsan sodales. Quisque fringilla
                vulputate turpis in placerat. In euismod tortor nec est consequat, ut porttitor elit porttitor.
                Suspendisse dui nunc, aliquam a egestas vitae, ultrices sit amet tellus. Donec eu ultrices velit.
                Praesent ut enim non mauris condimentum malesuada. Donec hendrerit, urna vel facilisis posuere, nisi
                mauris porta neque, sit amet sagittis quam nulla sed leo. Donec orci odio, mattis eget tempor quis,
                rhoncus at elit. Donec porta placerat massa, id vehicula arcu. Aliquam vitae convallis lacus, vehicula
                vulputate sapien. Donec mi lacus, rhoncus eu semper ut, faucibus tristique elit. Nullam scelerisque,
                metus vel pretium aliquam, diam mauris venenatis sem, vel auctor orci mi id tortor. Maecenas rhoncus
                risus dictum sapien vulputate tristique.

                Fusce faucibus volutpat nisl. Donec at enim id nisi molestie hendrerit. Cras consectetur orci lobortis,
                pharetra mauris sit amet, egestas elit. Nunc tristique blandit vestibulum. Pellentesque eget urna in
                arcu tincidunt fermentum et pretium justo. Nam quis lacus auctor, mattis lacus et, tincidunt enim.
                Pellentesque imperdiet volutpat magna ut aliquet. Mauris eu dignissim metus. Donec non porta elit.
                Suspendisse vulputate nisi sit amet magna placerat vehicula. Duis non nulla et ante efficitur congue sed
                sit amet felis. Cras nulla mi, imperdiet a nulla sit amet, tincidunt congue purus. Mauris in convallis
                eros. Pellentesque vel lacinia lacus.

                Aliquam mollis nulla ut mauris cursus facilisis. Proin luctus pellentesque sapien, a rutrum felis
                interdum eu. Mauris congue porta lectus eget consequat. Donec a dui dictum, molestie felis non, commodo
                sapien. Vivamus dictum iaculis turpis vitae aliquam. Pellentesque maximus rutrum massa, in fermentum
                urna. Aliquam consequat, libero sit amet imperdiet accumsan, sem turpis consequat velit, quis congue
                lectus elit eget risus. Curabitur lorem lectus, porttitor ac enim non, placerat accumsan nisl. Integer
                volutpat aliquam ligula ut mattis. Phasellus a lorem id urna ultrices aliquam.
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam sagittis justo felis, ac imperdiet
                metus ullamcorper ac. Curabitur at malesuada dui. Nullam ut nisi eget purus mollis posuere at vel dui.
                Maecenas pretium scelerisque posuere. Donec eu luctus felis. Nullam at elit quis dolor vestibulum
                mattis. Praesent et augue id sem eleifend venenatis. In nibh arcu, tristique ut egestas a, congue a
                libero. Pellentesque viverra ullamcorper lacus, ac fringilla leo laoreet in. Nullam consectetur
                vestibulum augue, ut semper neque eleifend sed. Nullam imperdiet orci leo, id lobortis nulla
                sollicitudin in. Aenean vel nisi nec justo egestas efficitur commodo in ex.

                Nunc ut rutrum orci. Fusce ex ipsum, consectetur in porttitor vitae, elementum ut diam. Mauris in luctus
                eros. Lorem ipsum dolor sit amet, consectetur adipiscing elit. In posuere, mi sed lacinia ullamcorper,
                odio neque accumsan diam, quis malesuada dolor odio et nisl. Aliquam lobortis elit sit amet lectus
                accumsan, dignissim fermentum est dignissim. In hac habitasse platea dictumst. Curabitur placerat, urna
                vel dictum accumsan, eros velit euismod arcu, in suscipit augue massa vitae arcu. Mauris odio eros,
                sodales vel sollicitudin et, placerat vitae nulla. Donec imperdiet velit eget libero tincidunt lacinia.
                Vestibulum ut arcu dolor.

                Curabitur eleifend nisl eget porta dapibus. Curabitur ornare accumsan sodales. Quisque fringilla
                vulputate turpis in placerat. In euismod tortor nec est consequat, ut porttitor elit porttitor.
                Suspendisse dui nunc, aliquam a egestas vitae, ultrices sit amet tellus. Donec eu ultrices velit.
                Praesent ut enim non mauris condimentum malesuada. Donec hendrerit, urna vel facilisis posuere, nisi
                mauris porta neque, sit amet sagittis quam nulla sed leo. Donec orci odio, mattis eget tempor quis,
                rhoncus at elit. Donec porta placerat massa, id vehicula arcu. Aliquam vitae convallis lacus, vehicula
                vulputate sapien. Donec mi lacus, rhoncus eu semper ut, faucibus tristique elit. Nullam scelerisque,
                metus vel pretium aliquam, diam mauris venenatis sem, vel auctor orci mi id tortor. Maecenas rhoncus
                risus dictum sapien vulputate tristique.

                Fusce faucibus volutpat nisl. Donec at enim id nisi molestie hendrerit. Cras consectetur orci lobortis,
                pharetra mauris sit amet, egestas elit. Nunc tristique blandit vestibulum. Pellentesque eget urna in
                arcu tincidunt fermentum et pretium justo. Nam quis lacus auctor, mattis lacus et, tincidunt enim.
                Pellentesque imperdiet volutpat magna ut aliquet. Mauris eu dignissim metus. Donec non porta elit.
                Suspendisse vulputate nisi sit amet magna placerat vehicula. Duis non nulla et ante efficitur congue sed
                sit amet felis. Cras nulla mi, imperdiet a nulla sit amet, tincidunt congue purus. Mauris in convallis
                eros. Pellentesque vel lacinia lacus.

                Aliquam mollis nulla ut mauris cursus facilisis. Proin luctus pellentesque sapien, a rutrum felis
                interdum eu. Mauris congue porta lectus eget consequat. Donec a dui dictum, molestie felis non, commodo
                sapien. Vivamus dictum iaculis turpis vitae aliquam. Pellentesque maximus rutrum massa, in fermentum
                urna. Aliquam consequat, libero sit amet imperdiet accumsan, sem turpis consequat velit, quis congue
                lectus elit eget risus. Curabitur lorem lectus, porttitor ac enim non, placerat accumsan nisl. Integer
                volutpat aliquam ligula ut mattis. Phasellus a lorem id urna ultrices aliquam.
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam sagittis justo felis, ac imperdiet
                metus ullamcorper ac. Curabitur at malesuada dui. Nullam ut nisi eget purus mollis posuere at vel dui.
                Maecenas pretium scelerisque posuere. Donec eu luctus felis. Nullam at elit quis dolor vestibulum
                mattis. Praesent et augue id sem eleifend venenatis. In nibh arcu, tristique ut egestas a, congue a
                libero. Pellentesque viverra ullamcorper lacus, ac fringilla leo laoreet in. Nullam consectetur
                vestibulum augue, ut semper neque eleifend sed. Nullam imperdiet orci leo, id lobortis nulla
                sollicitudin in. Aenean vel nisi nec justo egestas efficitur commodo in ex.

                Nunc ut rutrum orci. Fusce ex ipsum, consectetur in porttitor vitae, elementum ut diam. Mauris in luctus
                eros. Lorem ipsum dolor sit amet, consectetur adipiscing elit. In posuere, mi sed lacinia ullamcorper,
                odio neque accumsan diam, quis malesuada dolor odio et nisl. Aliquam lobortis elit sit amet lectus
                accumsan, dignissim fermentum est dignissim. In hac habitasse platea dictumst. Curabitur placerat, urna
                vel dictum accumsan, eros velit euismod arcu, in suscipit augue massa vitae arcu. Mauris odio eros,
                sodales vel sollicitudin et, placerat vitae nulla. Donec imperdiet velit eget libero tincidunt lacinia.
                Vestibulum ut arcu dolor.

                Curaeifend nisl eget porta dapibus. Curabitur ornare accumsan sodales. Quisque fringilla vulputate
                turpis in placerat. In euismod tortor nec est consequat, ut porttitor elit porttitor. Suspendisse dui
                nunc, aliquam a egestas vitae, ultrices sit amet tellus. Donec eu ultrices velit. Praesent ut enim non
                mauris condimentum malesuada. Donec hendrerit, urna vel facilisis posuere, nisi mauris porta neque, sit
                amet sagittis quam nulla sed leo. Donec orci odio, mattis eget tempor quis, rhoncus at elit. Donec porta
                placerat massa, id vehicula arcu. Aliquam vitae convallis lacus, vehicula vulputate sapien. Donec mi
                lacus, rhoncus eu semper ut, faucibus tristique elit. Nullam scelerisque, metus vel pretium aliquam,
                diam mauris venenatis sem, vel auctor orci mi id tortor. Maecenas rhoncus risus dictum sapien vulputate
                tristique.

                Fusce faucibus volutpat nisl. Donec at enim id nisi molestie hendrerit. Cras consectetur orci lobortis,
                pharetra mauris sit amet, egestas elit. Nunc tristique blandit vestibulum. Pellentesque eget urna in
                arcu tincidunt fermentum et pretium justo. Nam quis lacus auctor, mattis lacus et, tincidunt enim.
                Pellentesque imperdiet volutpat magna ut aliquet. Mauris eu dignissim metus. Donec non porta elit.
                Suspendisse vulputate nisi sit amet magna placerat vehicula. Duis non nulla et ante efficitur congue sed
                sit amet felis. Cras nulla mi, imperdiet a nulla sit amet, tincidunt congue purus. Mauris in convallis
                eros. Pellentesque vel lacinia lacus.

                Aliquam mollis nulla ut mauris cursus facilisis. Proin luctus pellentesque sapien, a rutrum felis
                interdum eu. Mauris congue porta lectus eget consequat. Donec a dui dictum, molestie felis non, commodo
                sapien. Vivamus dictum iaculis turpis vitae aliquam. Pellentesque maximus rutrum massa, in fermentum
                urna. Aliquam consequat, libero sit amet imperdiet accumsan, sem turpis consequat velit, quis congue
                lectus elit eget risus. Curabitur lorem lectus, porttitor ac enim non, placerat accumsan nisl. Integer
                volutpat aliquam ligula ut mattis. Phasellus a lorem id urna ultrices aliquam.
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam sagittis justo felis, ac imperdiet
                metus ullamcorper ac. Curabitur at malesuada dui. Nullam ut nisi eget purus mollis posuere at vel dui.
                Maecenas pretium scelerisque posuere. Donec eu luctus felis. Nullam at elit quis dolor vestibulum
                mattis. Praesent et augue id sem eleifend venenatis. In nibh arcu, tristique ut egestas a, congue a
                libero. Pellentesque viverra ullamcorper lacus, ac fringilla leo laoreet in. Nullam consectetur
                vestibulum augue, ut semper neque eleifend sed. Nullam imperdiet orci leo, id lobortis nulla
                sollicitudin in. Aenean vel nisi nec justo egestas efficitur commodo in ex.

                Nunc ut rutrum orci. Fusce ex ipsum, consectetur in porttitor vitae, elementum ut diam. Mauris in luctus
                eros. Lorem ipsum dolor sit amet, consectetur adipiscing elit. In posuere, mi sed lacinia ullamcorper,
                odio neque accumsan diam, quis malesuada dolor odio et nisl. Aliquam lobortis elit sit amet lectus
                accumsan, dignissim fermentum est dignissim. In hac habitasse platea dictumst. Curabitur placerat, urna
                vel dictum accumsan, eros velit euismod arcu, in suscipit augue massa vitae arcu. Mauris odio eros,
                sodales vel sollicitudin et, placerat vitae nulla. Donec imperdiet velit eget libero tincidunt lacinia.
                Vestibulum ut arcu dolor.

                Curabitur eleifend nisl eget porta dapibus. Curabitur ornare accumsan sodales. Quisque fringilla
                vulputate turpis in placerat. In euismod tortor nec est consequat, ut porttitor elit porttitor.
                Suspendisse dui nunc, aliquam a egestas vitae, ultrices sit amet tellus. Donec eu ultrices velit.
                Praesent ut enim non mauris condimentum malesuada. Donec hendrerit, urna vel facilisis posuere, nisi
                mauris porta neque, sit amet sagittis quam nulla sed leo. Donec orci odio, mattis eget tempor quis,
                rhoncus at elit. Donec porta placerat massa, id vehicula arcu. Aliquam vitae convallis lacus, vehicula
                vulputate sapien. Donec mi lacus, rhoncus eu semper ut, faucibus tristique elit. Nullam scelerisque,
                metus vel pretium aliquam, diam mauris venenatis sem, vel auctor orci mi id tortor. Maecenas rhoncus
                risus dictum sapien vulputate tristique.

                Fusce faucibus volutpat nisl. Donec at enim id nisi molestie hendrerit. Cras consectetur orci lobortis,
                pharetra mauris sit amet, egestas elit. Nunc tristique blandit vestibulum. Pellentesque eget urna in
                arcu tincidunt fermentum et pretium justo. Nam quis lacus auctor, mattis lacus et, tincidunt enim.
                Pellentesque imperdiet volutpat magna ut aliquet. Mauris eu dignissim metus. Donec non porta elit.
                Suspendisse vulputate nisi sit amet magna placerat vehicula. Duis non nulla et ante efficitur congue sed
                sit amet felis. Cras nulla mi, imperdiet a nulla sit amet, tincidunt congue purus. Mauris in convallis
                eros. Pellentesque vel lacinia lacus.

                Aliquam mollis nulla ut mauris cursus facilisis. Proin luctus pellentesque sapien, a rutrum felis
                interdum eu. Mauris congue porta lectus eget consequat. Donec a dui dictum, molestie felis non, commodo
                sapien. Vivamus dictum iaculis turpis vitae aliquam. Pellentesque maximus rutrum massa, in fermentum
                urna. Aliquam consequat, libero sit amet imperdiet accumsan, sem turpis consequat velit, quis congue
                lectus elit eget risus. Curabitur lorem lectus, porttitor ac enim non, placerat accumsan nisl. Integer
                volutpat aliquam ligula ut mattis. Phasellus a lorem id urna ultrices aliquam.
            </main>
            <%- include('./includes/footer.ejs') %>