<%- include('./includes/header.ejs')%>
    <title><%= pageTitle%></title>
</head>
<body>
    <%- include('./includes/links.ejs')%>
    <h1>Strona główna</h1>
    
    <%- include('./includes/footer.ejs') %>