/* bazowe style */
a {
    text-decoration: none;
    color: black;
}
/* style navbara */
.nav_bar {
    background-color: lightgray;
    align-self: center;
}
.nav_list {
    justify-content: center;
    display: flex;
}
.nav_item {
    list-style-type: none;
}
.nav_item:hover {
    background-color: lightslategray;
}
.nav_link {
    font-weight: bold;
    font-size: 20px;
    display: block;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 45px;
    padding-right: 45px;
}
/* poruszanie się navbara wraz ze stroną */
.sticky {
    position: sticky;
    top: 0;
}
/* style dla góry strony */
.logo {
    width: 200px;
}