/* bazowe style */
* {
    font-family: Arial;
}
a {
    text-decoration: none;
    color: black;
}
/* style dla góry strony */
.site_top {
    display: flex;
    padding-left: 50px;
    padding-right: 50px;
}
.logo {
    width: 200px;
}
.site_top_left {
    width: 50%;
    float: left;
}
.site_top_right {
    width: 50%;
    float: right;
}
.account_links {
    float: right;
}
/* style navbara */
.nav_bar_mobile {
    display: none;
}
.nav_bar_pc, .nav_bar_mobile {
    background-color: lightgray;
}
.nav_list {
    justify-content: center;
    display: flex;
}
.nav_item {
    list-style-type: none;
}
.nav_item:hover {
    background-color: lightslategray;
}
.nav_link {
    font-weight: bold;
    font-size: 20px;
    display: block;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 45px;
    padding-right: 45px;
}
/* poruszanie się navbara wraz ze stroną */
.sticky {
    position: sticky;
    top: 0;
}
/* style głównej zawartości strony */
.main_content {
    clear: both;
    margin: 3% 10%;
}
/* responsywność */ 
@media only screen and (max-width: 1410px){
    .about, .contact {
        display: none;
    }
}
@media only screen and (max-width: 1100px){
    .nav_link{
        padding-top: 6px;
        padding-bottom: 6px;
        padding-left: 25px;
        padding-right: 25px;
    }
}
@media only screen and (max-width: 900px){
    .site_top_right {
        display: none;
    }
    .nav_bar_pc {
        display: none;
    }
    .nav_bar_mobile {
        display: block;
    }
    .nav_list {
        justify-content: space-around;
        padding-left: 0px;
        margin: 0px;
    }
}