/* bazowe style */
a {
    text-decoration: none;
    color: black;
}
/* style navbara */
.nav {
    background-color: yellow;
    align-self: center;
}
.nav_list {
    justify-content: center;
    display: flex;
}
.nav_item {
    list-style-type: none;
}
.nav_item:hover {
    background-color: gold;
}
.nav_link {
    font-weight: bold;
    text-decoration: none;
    color: black;
    font-size: 20px;
    display: block;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 60px;
    padding-right: 60px;
}
/* poruszanie się navbara wraz ze stroną */
.sticky {
    position: sticky;
    top: 0;
}
/* style dla góry strony */
.logo {
    width: 200px;
}
.site_top_right {
    position: absolute;
    top: 10px;
    right: 150px;
}
.login, .register {
    padding: 5px;
    font-size: 20px;
}
.login:hover, .register:hover {
    background-color: lightgray;
}